
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     

}

.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 1377px;
    height: 900px;
    margin-left: 76px;
    margin-top: 6%;
}








.title{
    position: absolute;
    margin-left: 34%;
    margin-top: 1%;
    font-size: 34px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #515151;
}

.title:hover{
    color: rgb(248, 175, 38);
    font-style: italic;
}








.backbutton{
    position: fixed;
    margin: 1%;
    font-size: 18px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #515151;
}

h2{
    color: #515151;
}

h2:hover{
    color: rgb(248, 175, 38);
}





.copyright{
    position: fixed;
    width: 150px;
    margin-top: 950px;
    margin-left: 690px;
    font-size: 18px;
    font-family: 'Hepta Slab', serif;
    color: rgb(177, 177, 177, 0.8);
}